// header
.header {
    .brand-logo {
        img {
            width: calc(100px + (162 - 120) * ((100vw - 320px) / (1920 - 320)));
            height: auto;
            object-fit: contain;
        }
    }

    .header-search-box {
        height: 37px;
        border: 1px solid dimgray;
        border-radius: 3px;
        padding: 1px;

        .form-control {
            width: 350px;
            height: 34px;
            font-size: 15px;
            border: none;
            outline: none;

            &:focus {
                border: none;
                outline: none;
                box-shadow: none;
            }
        }

        .search-btn {
            width: 35px;
            height: 35px;
        }
    }

    .header-notifi-btn {
        color: #909090;

        .pulse {
            display: block;
            position: absolute;
            background-color: #7367f0;
            top: 3px;
            right: 0;
            width: 6px;
            height: 6px;
            border-radius: 50%;
        }
    }

    .header-user-avater {
        cursor: pointer;
        overflow: hidden;

        img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
        }
    }
}