.filter-sidebar-wrapper {
  background-color: white;
  .wrapper-title {
    border-bottom: 1px solid #b9b9b9;
  }

  .filter-list {
    ul {
      li {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 5px;

        input {
          cursor: pointer;
        }

        label {
          cursor: pointer;
        }
      }
    }
  }
}

.filter-sort-input {
  width: 250px;
  &:focus {
    border-color: #7367f0;
    outline: none;
    box-shadow: none !important;
  }
}

.filter-checkbox-input {
  width: 16px;
  height: 16px;
}

@media only screen and (max-width: 1000px) {
  .filter-sidebar-wrapper {
    position: fixed;
    width: 425px;
    max-width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 100;
    block-size: 100%;
    border-right: 1px solid #e3e3e3;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    &.open {
      transform: none;
      transition: transform 0.5s ease-in-out;
    }
  }
}
